<button
  mat-icon-button
  [matMenuTriggerFor]="beforeMenu"
  aria-label="Icon-button with a menu"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="onShowDetails()">
    <mat-icon matListItemIcon>info</mat-icon>Details
  </button>
  <div *ngIf="admin">
    <button mat-menu-item><mat-icon matListItemIcon>edit</mat-icon>Edit</button>
    <button mat-menu-item>
      <mat-icon matListItemIcon>delete</mat-icon>Delete
    </button>
  </div>
</mat-menu>
