<mat-card-content class="info">
  <div class="avatar">
    <div class="avatar-image">
      <mat-icon matListItemIcon>person</mat-icon>
    </div>
    <!-- <div>
      <mat-card-title>Juana de Arco</mat-card-title>
      <mat-card-subtitle>Developer</mat-card-subtitle>
    </div> -->
    <div>
      <mat-card-title>{{ data.developer.name }}</mat-card-title>
      <mat-card-subtitle>{{ data.developer.position }}</mat-card-subtitle>
    </div>
  </div>
  <app-menu [developer]="data.developer" [rol]="data.rol"></app-menu>
</mat-card-content>
